name: Run Tests

on:
  workflow_dispatch:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run tests
        run: |
          cmake -Bbuild && cmake --build build
          ctest --test-dir build --output-on-failure
